################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Linux-Network-Management-Toolbox/CopilotIndices/17.14.734.62261
/.vs/Linux-Network-Management-Toolbox/v17
/.vs
