################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Linux-Network-Management-Toolbox/CopilotIndices/17.14.734.62261
/.vs/Linux-Network-Management-Toolbox/FileContentIndex
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/Linux-Network-Management-Toolbox/v17/.wsuo
/.vs/Linux-Network-Management-Toolbox/v17/DocumentLayout.backup.json
/.vs/Linux-Network-Management-Toolbox/v17/DocumentLayout.json
/.vs/Linux-Network-Management-Toolbox/config
/.vs/Linux-Network-Management-Toolbox/copilot-chat/1e67f494/sessions
