[Unit]
Description=Linux Network Management Toolbox Runner
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/lnmt/lmnt.py
WorkingDirectory=/opt/lnmt
Environment=LNMT_CONFIG_DIR=/etc/lnmt
Environment=LNMT_DB_PATH=/etc/lnmt/lnmt_stats.db
Restart=on-failure

[Install]
WantedBy=multi-user.target
