{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">LNMT Configuration</h2>
<form method="post" action="{{ url_for('config_routes.config_update') }}">
  <div class="mb-3">
    {% for key, value in config.items() %}
      <label class="form-label fw-bold" for="{{ key }}">{{ key.replace('_', ' ').title() }}</label>
      <input type="text" class="form-control mb-2" id="{{ key }}" name="{{ key }}" value="{{ value }}">
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}
